.go-module-icon-sites , .go-menu-icon-sites{
	background:url('images/sites.png');
}

.go-tab-icon-sites {
	background-image: none !important;
}

.go-model-icon-GO_Sites_Model_Site{
	background-image: url('images/sites.png') !important;
}

.go-model-icon-GO_Sites_Model_Page{
	background-image: url('images/doc.png') !important;
}
