.pager-container {
	width:100%;
	display:block;
}

.pager-table {
	margin-left: auto;
	margin-right:auto;
}

.pager-block {
/*	border:1px solid #000; */
	width:20px; 
	height:20px; 
	text-align:center;
}

.pager-inactive {
	
}

.pager-active a {
/*	background-color:#ccc;*/
	font-weight: bold;
	color:#E67802 !important;
}

.pager-totalfound-table {
	
}

.pager-totalpages-table {
	float:right;
}
